@import "grid";
@import "base";

/*====================================*/
/* Primary Header*/
/*====================================*/

.header{
	background: #FDFDFD;
	opacity: 0.9;
	padding: 4.5px 20px;
	position: fixed;
	width: 100%;
	z-index: 100;
	-webkit-box-shadow: 0px 2px 4px 0 rgba(0, 0, 0,0.12);
	        box-shadow: 0px 2px 4px 0 rgba(0, 0, 0,0.12);
}
.nav {
	@extend %flex-between;
}
.nav__item-list {
	@extend %flex-between;
}
.nav__item{
	margin-right: 45px;
	font-size: 15px;
	font-weight: 400;
	position: relative;
	@extend %transition;
	&:hover {
		color: $accent-color;
	}
	&.nav__active {
		&:after {
			content: '';
			height: 4px;
			width: 100%;
			background: $accent-color;
			position: absolute;
			bottom: -18px;
			left: 0;
			z-index: 101;
		}
		&:hover {
			color: $font-color;
		}
	}
	&.login-btn {
		margin-right: 0;
		font-weight: 900;
		&:hover {
			color: $font-color;
		}
	}
}

/*====================================*/
/* Hero Section*/
/*====================================*/
.hero {
  position: relative;
  .grid {
  	max-height: 800px;
		height: 100%;
  	position: absolute;
  	top: 0;
  }
}
.hero__section {
	padding-top: 85px;
	max-height: 800px;
	height: 100%;
	position: relative;
}
.small-screen-img {
	display: none;
}
.heading-text {
	color: #fff;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 60px;
	line-height: 72px;
}
.subhead-text {
	color: #fff;
	font-style: italic;
	font-weight: 700;
	font-size: 30px;
}
.hero__btn {
	position: absolute;
	padding: 12px 35.5px;
	font-size: 22px;
	font-weight: 700;
	bottom: 5.5%;
	margin-left: 20px;
}

/*====================================*/
/* Features Section*/
/*====================================*/

.features {
	padding: 67px 0 75px 0;
}
.title-text {
	color: $title-color;
	font-size: 35px;
	font-style: italic;
	font-weight: 700;
	line-height: 49px;
}
.features__list {
	padding: 128px 0 90px 0;
}
.feature__title {
	color: $title-color2;
	font-size: 20px;
	line-height: 28px;
	margin-top: 37px;
	font-weight: 700;
}
.feature__title2 {
	margin-top: 51px;
}
.feature__title3 {
	margin-top: 55px;
}
.feature__description {
	font-size: 16px;
	font-weight: 400;
	line-height: 22.4px;
	margin-top: 10px;
}
.feature-btn {
	padding: 12px 49px;
	font-size: 20px;
	font-weight: 700;
}


/*====================================*/
/* Carousel Section*/
/*====================================*/

.carousel {
	background: #f4f4f4;
	padding: 70px 0 64px 0;
	.title-text {
		font-size: 40px;
		font-weight: 700;
	}
}
.subtitle {
	color: $title-color;
	font-size: 22px;
	font-weight: 400;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}
.carousel__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 30px;
}
.prev, .next {
  cursor: pointer;
  /* width: auto;*/
  color: #1d3c29;
  font-size: 30px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  &:hover {
  	color: #56c28c;
  }
}

.prev {
	margin-right: 10%;
}
.next {
  margin-left: 10%;
}

.text {
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  top: 0;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor:pointer;
  width: 14.4px;
  height: 14.4px;
  background-color: #1d3c29;
  margin: 0 22.4px;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #56c28c;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*====================================*/
/* Footer Section*/
/*====================================*/

.contact {
	padding: 120px 0 80px 0;
}
.contact__email {
	font-size: 20px;
	font-weight: 400;
	margin-top: 10px;
	font-style: italic;
}

.copyright-text {
	background: #f5f5f5;
	padding: 24px 0;
	h5 {
		font-size: 20px;
		font-weight: 400;
	}
}

/*====================================*/
/* Signup Modal*/
/*====================================*/

.modal {
	display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
	background: rgba(#4A4A4A, 0.4);
	z-index: 1000;
	padding: 15px;
}
.modal__box {
	padding: 63px 54px 21px 54px;
	opacity: 1;
	position: relative;
	z-index: 10000;
	left: 50%;
	max-width: 766px;
	width: 100%;
	top:71px;
	background: #FFFFFF;
	border-radius: 4.4px;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
}
.remove-btn{
	position: absolute;
	top: 20px;
	right: 20px;
	.close-btn {
		cursor: pointer;
		#close-btn {
			@extend %transition;
		}
		&:hover #close-btn {
			stroke: #777;
		}
	}
}
.close {
    color: #aaa;
    float: right;
    font-size: 1.750em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.signup-ques {
	font-size: 14px;
	font-weight: 400;
	margin-top: 44px;
}
.signup-choices {
	background: #EBEBEB;
	margin-top: 27px;
}
.signup-choice__list {
	@extend %flex-between;
}
.signup-choice__item {
	text-align: center;
	padding: 11px 30px;
	font-size: 14px;
	font-weight: 300;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	@extend %transition;
	cursor: pointer;
	border: 1px solid #EBEBEB;
	&:hover, &.active {
		background: #fff;
		font-weight: 700;
		-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
		        box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
	}
}
.signup-input {
	margin-top: 20px;
	.form-control {
		padding: 0 12px 10px 12px;
		margin-top: 30px;
		font-size: 12px;
		font-weight: 300;
		border: 0;
  	border-bottom: 1px solid #BCBCBC;
	}
}
.submit-btn {
	margin-top: 50px;
	background: #E6E6E6;
	padding: 13px 55.5px;
	font-size: 16px;
	font-weight: 700;
	&:active {
		background: $accent-color;
	}
}
.select-container {
	text-align: center;
	margin-top: 30px;
	display: none;
}
.select__item-list {
	position: relative;
	padding: 10px 53px;
	cursor: pointer;
  border: none;
  font-size: 12px;
  border: 1px solid $accent-color;
  border-radius: 2px;
  background: transparent;
  background: url('../images/arrow.png') no-repeat;
  background-position: 95% 15px;
	-webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  &:focus {
  	outline: none;
  }
}

/*====================================*/
/* Product and Features*/
/*====================================*/

.curve-cotainer {
	position: relative;
}
.curve-header {
	position: absolute;
	top: 85px;
	width: 100%;
}
.feature-curve__item {
	.feature-curve__text {
		@extend %transition;
	}
	&:hover .feature-curve__text{
		font-weight: 900;
	}
	.curve-line {
		display: none;
		-webkit-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		cursor: default;
	}
}
.small-screen-curve {
	display: none;
}
.curve {
	padding: 0 20px;
	position: relative;
	margin-top: -80px;
}
.curve-item {
	padding: 0 5%;
	display: none;
	@extend %transition;
}
.curve-btn {
	position: absolute;
	bottom: 60px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	.primary-btn {
		padding: 16px 47px;
		font-size: 24px;
		font-weight: 700;
	}
}
.curve-item__container {
	padding: 5%;
	background: #F5F5F5;
	-webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.14);
	        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.14);
	border-radius: 4px 4px 0 4px 4px;
}
.curve-item__header {
	font-size: 25px;
	margin-bottom: 27px;
	font-weight: 900;
}
.curve-item__details {
	font-size: 20px;
	line-height: 28px;
	font-weight: 400;
}
/*====================================*/
/* About us*/
/*====================================*/

.about {
	padding-top: 85px;
}
.about-text {
	padding: 80px 10% 0 10%;
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

/*====================================*/
/* Plans and Pricing*/
/*====================================*/

.plans {
	padding-top: 85px;
}
.card-container {
	margin-top: 70px;
	padding: 0 30px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.card {
	height: 550px;
	position: relative;
	left: 0;
	display: inline-block;
}
.card-background {
	position: absolute;
	bottom: 0;
	z-index: -1;
}
.card-background1 {
	left: -30px;
}
.card-background2 {
	right: -30px;
}
.card__inner {
	height: 550px;
	background: #f5f5f5;
	width: 390px;
	position: relative;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);
	        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.24);
	border-radius: 4px;
}
.card__btn {
	position: absolute;
	width: 100%;
	bottom: -23px;
	.primary-btn {
		padding: 18px 68px;
		font-size: 22px;
		font-weight: 700;
	}
}
.content {
	background: $hovering-color;
	margin-top: 140px;
	height: 800px;
}


@import "responsive";